@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(../public/font/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/font/Lausanne-500.woff2);
}
body{
    background-color:black;
    overflow-x: hidden;
}
.moveX{
    animation-name: moveAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes moveAnimation {
    from{
        transform:translateX(0) ;
    }
    to{
        transform: translatex(-100%);
    }
    
}

.moveLink{
    opacity: 0;
    transition: all;
}
.link:hover .moveLink{
  opacity: 1;
}