@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
html,body{
    height: 100%;
    width: 100%;
}
.light{
    display: flex;
    background-color: lightseagreen;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    color: white;
}
.dark{
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    color: white;
}

.nav2{
    display: flex;
    gap: 30px;
    
}